@CHARSET "UTF-8";
/*user start*/
.user{width:268px;height:398px;float:right;margin:0 0 10px 0;border:1px solid #ccc;}
.user form{}
.user form label{display:block;padding:8px 0 5px 12px;}
.user form label input.text{width:180px;height:20px;border:1px solid #666;background:#eee;}
.user form label input.code{width:100px;}
.user form label.yzm{position:relative;top:-14px;}
.user form img{width:78px;height:30px;position:relative;top:10px;}
.user form p{text-align:center;padding:8px 0;}
.user form p input.submit{width:45px;height:20px;}
.user form p a{color:green;text-decoration:none;}
.user form p a:hover{text-decoration:underline;}
.user div.a {width:80%;margin:10px auto;border:1px solid #eee;background:#fffffc;height:22px;line-height:22px;text-align:center;border-right:none;border-left:none;}
.user div.a strong {color:#ff6600;}
.user div.b {width:70%;margin:0 auto;padding:15px 0 0 0;height:85px;}
.user div.b img {display:block;float:left;}
.user div.b a {display:block;float:right;width:80px;padding:8px 0 0 0;color:green;letter-spacing:2px;}
.user h3{font-size:12px;padding:5px 10px;}
.user h3 span{color:#ccc;}
.user dl{width:72px;float:left;padding:0 0 2px 12px;}
.user dl dt img{display:block;}
.user dl dd{padding:5px;text-align:center;}
/*user end*/

/*news start*/
.news{width:378px;height:398px;float:right;margin:0 10px 10px 0;border:1px solid #ccc;padding:0 10px;}
.news h3{text-align:center;font-size:16px;padding:10px;}
.news h3 a{color:#333;text-decoration:none;}
.news h3 a:hover{text-decoration:underline;}
.news p{line-height:150%;}
.news p a{color:#333;text-decoration:none;}
.news p a:hover{text-decoration:underline;}
.news p.link{padding:5px 0;border-bottom:1px dashed #ccc;}
.news p.link a{color:green;display:inline-block;padding:0 0 5px 0;}
.news ul{padding:5px 2px 0 2px;}
.news ul li{height:24px;background:url('../images/pointer.png') no-repeat left center;padding:0 0 0 10px;}
.news ul li em{float:right;font-style:normal;font-family:Tahoma;}
.news ul li a{color:#666;text-decoration:none;}
.news ul li a:hover{text-decoration:underline;}
/*news end*/

/*pic start*/
.pic{width:268px;height:193px;float:left;margin:0 0 10px 0;border:1px solid #ccc;}
.pic img{display:block;}
/*pic end*/

/*rec start*/
.rec{width:268px;height:193px;float:left;margin:0 0 10px 0;border:1px solid #ccc;}
.rec ul{padding:2px 10px 0 10px;}
.rec ul li{height:23px;background:url('../images/pointer.png') no-repeat left center;padding:0 0 0 10px;}
.rec ul li em{float:right;font-style:normal;font-family:Tahoma;}
.rec ul li a{color:#666;text-decoration:none;}
.rec ul li a:hover{text-decoration:underline;}
/*rec end*/

/*sidebar-right start*/
.sidebar-right{width:270px;height:835px;float:right;margin:0 0 10px 0;}
.sidebar-right div.adver{width:270px;height:200px;margin:0 0 10px 0;}
.sidebar-right div.adver img{display:block;}
.sidebar-right div.hot,div.comm,div.vote{border:1px solid #ccc;height:200px;margin:0 0 10px 0;}
.sidebar-right div.vote{margin:0;}
.sidebar-right ul{padding:3px 10px 0 10px;}
.sidebar-right ul li{height:24px;background:url('../images/pointer.png') no-repeat left center;padding:0 0 0 10px;}
.sidebar-right ul li em{float:right;font-style:normal;font-family:Tahoma;}
.sidebar-right ul li a{color:#666;text-decoration:none;}
.sidebar-right ul li a:hover{text-decoration:underline;}
.sidebar-right div.vote h3{text-align:center;font-size:16px;padding:10px;color:#369;border-bottom:1px dashed #ccc;margin:0 auto;}
.sidebar-right div.vote form label{display:block;padding:2px 0 2px 20px;}
.sidebar-right div.vote p{text-align:center;padding:5px;}
.sidebar-right div.vote p input{width:45px;height:20px;cursor:pointer;font-size:12px;line-height:10px;margin:0 3px;}
/*sidebar-right end*/

/*picnews start*/
.picnews{width:678px;height:198px;float:left;margin:0 0 10px 0;border:1px solid #ccc;}
.picnews dl{width:156px;float:left;padding:10px 0 0 11px;}
.picnews dl dt{border:1px solid #999;padding:2px;}
.picnews dl dt img{border:0;display:block;}
.picnews dl dd a{color:#666;text-decoration:none;}
.picnews dl dd a:hover{text-decoration:underline;}
/*picnews end*/

/*newslist start*/
.newslist{width:680px;height:625px;float:left;margin:0 0 10px 0;}
.newslist div.list{width:49%;height:306px;float:left;border:1px solid #ccc;}
.newslist div.right{float:right;}
.newslist div.bottom{margin:0 0 10px 0;}
.newslist div h2 a{float:right;padding:0 10px 0 0;color:green;text-decoration:none;}
.newslist div h2 a:hover{text-decoration:underline;}
.newslist ul{padding:8px 10px 0 10px;}
.newslist ul li{height:25px;background:url('../images/arrow.png') no-repeat left center;padding:0 0 0 10px;}
.newslist ul li em{float:right;font-style:normal;font-family:Tahoma;}
.newslist ul li a{color:#666;text-decoration:none;}
.newslist ul li a:hover{text-decoration:underline;}
/*newslist end*/